:host {
    width: 450px;
  }
  
* {
  text-align: center;
}
  
.headline {
  font-size: 24px;
  font-weight: bold;
  color: white;
  background-color: slategray;
  margin-bottom: 2px;
}
  
.calendar-body {
    .weekdays {
      margin-left: 7%;
      opacity: 0.5;
      display: flex;
      justify-content: space-between;
  
      .calendar-element {
        font-size: 18px;
      }
  
      .sundays {
        font-weight: bold;
      }
    }
  
    .calendar-element {
      width: 14.26%;
      line-height: 35px;
    }
  
    .calendar-week-container {
      line-height: 35px;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: white;
    }
  
    .sundays {
      font-weight: 750;
    }
}