.heading {
    margin-bottom: 2px;
}

.create-area {
    display: flex;
    margin-bottom: 5px;
}

.create-button {
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.create-label {
    font-size: 16px;
    color: rgb(63, 63, 63);
}

.main-container {
    margin-left: 20px;
}

.description {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 15px;
    width: 300px;
}

.main-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.appointment-container {
    margin-top: 0;
    padding: 0;
}