<div class="main-container">
    <h1 class="heading">My Calendar</h1>
    <p class="description">Welcome to the my calendar app. Select different days or weeks to look into your appointments or create new ones.
        <img class="create-button" 
        name="create-img" 
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZOo_w3gcU3ZsSiw5aS_KgnpA3NGCaAC2s_w&s" 
        [routerLink]="['/create']">
    </p>
    <div class="main-area">
        <div class="calendar-container">
            <app-calendar 
            (daySelected)="onDaySelected($event)" 
            (dayUnselected)="onDayUnselected($event)"
            [isFiltered]="(isFiltered$ | async) || false"
            [appointments]="(appointments$ | async) || []">
            </app-calendar>
        </div>
        <app-appointment-overview 
        [appointments]="(filteredAppointments$ | async) || []"
        [filtered]="(isFiltered$ | async) || false"
        (removeFilter)="filterRemoved()"
        (deleteAppointment)="deleteAppointment($event)"
        >
        </app-appointment-overview>
    </div>
</div>

