.heading {
    margin-bottom: 2px;
}

.main-container {
    margin-left: 20px;
}

.button-container {
    width: 300px;
    display: flex;
    justify-content: center;
}

.create-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    height: 26px;
    width: 100%;
    line-height: 24px;
    font-size: 13px;
    background-color: slategray;
    color: white;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s ease-in-out;
}

.create-button:hover {
    cursor: pointer;
    background-color: rgb(64, 73, 82);
}

.description {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 25px;
    width: 300px;
}

.main-area {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.appointment-container {
    margin-top: 0;
    padding: 0;
}