:host {
    margin-left: 50px;
}

.title-container {
    display: flex;
    align-items: center;

    .title {
        font-size: 18px;
        color: gray;
    }

    .filter {
        margin-left: 5px;
        background-color: slategray;
        color: white;
        border-radius: 3px;
        height: 24px;
        line-height: 24px;
        font-size: 16px;
        padding-left: 10px;
        padding-right: 10px;

        .remove-button {
            font-size: 16px;
            cursor: pointer;
        }
    }
}

.icon {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

.icon:hover {
    cursor: pointer;
}

.appointment-list {
    display: flex;
    flex-direction: column;
}

.appointment-block span {
    font-size: 16px;
    margin: 2px;
}