<div class="week-container">
    <div class="calendar-week">
      {{ week.calenderWeek | number: '2.0' }}
    </div>
  
    <div class="calendar-days-container">
      <app-calendar-day
        class="calendar-day"
        *ngFor="let calendarDay of week?.days; let i = index"
        [class.sundays]="isSunday(i)"
        [calendarDay]="calendarDay"
        (daySelected)="onDaySelected($event)"
        (dayUnselected)="onDayUnselected($event)"
        [hasAppointment]="hasAppointment(calendarDay)"
      ></app-calendar-day>
    </div>
</div>
