* {
    font-size: 18px;
}

.today {
  background-color: darkgray;
}

.is-selected {
  outline: solid 1.5px rgb(70, 70, 70);
  background-color: rgb(140, 140, 140);
  outline-offset: -1.5px;
}

:hover {
  background: silver;
  cursor: pointer;
}

.not-current-month {
  color: lightgrey;
  opacity: 0.65;
}

:host(.inFilter) .not-current-month {
  color: black;
  opacity: 1;
}
