* {
    font-size: 18px;
}

:host {
  outline-offset: -1.5px;
}

.today {
  background-color: darkgray;
}

.is-selected {
  outline: solid 1.5px rgb(70, 70, 70);
  background-color: silver;
  outline-offset: -1.5px;
}

:hover {
  background: silver;
  cursor: pointer;
}

.not-in-month {
  color: rgb(130, 130, 130);
}

:host(.inFilter) .not-in-month {
  color: black;
  opacity: 1;
}
